@media screen and (max-width: 1280px){
    section.projetos .project-box{
        float: none;
        display: block;
        margin: auto;
    }

    section.projetos .project-box .project-wrapper{
        float: none;
        display: block;
        border: 30px solid #181B1F;
        box-shadow: none;
        border-radius: 20px;
    }
}

@media screen and (max-width: 1200px){
    section.projetos .project-box{
        width: 500px;
        margin: auto;
    }

    section.projetos{
        text-align: center;
    }
}

@media screen and (max-width: 768px){
    
    .flex{
        display: block;
    }
    
    .sidebar{
        display: none;
    }

    .center{
        position: static;
        left: auto;
        top: auto;
        transform: none;

        margin: 0 auto;
        /*margin-top: 25px;*/
        max-width: 587px;
        text-align: center;
    }

    p{
        text-align: left;
    }

    div.content{
        position: static;
        left: auto;
        top: auto;
        transform: none;
        width: 100%;
        height: 100%;
    }

    section.experiencia p{
        display: inline-block;
    }

    section.experiencia ul{
        text-align: left;
    }

}



